<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codernauti.gamebank">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".GameBank"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.DashboardActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lobby.client.LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:theme="@style/AppTheme" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.codernauti.gamebank.MainActivity" />
        </activity>
        <activity
            android:name=".lobby.server.CreateMatchActivity"
            android:label="@string/title_activity_create_match"
            android:parentActivityName=".lobby.client.LobbyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codernauti.gamebank.lobby.client.LobbyActivity" />
        </activity>
        <activity android:name=".lobby.client.RoomActivity" />

        <!-- Services -->
        <service android:name=".bluetooth.BTClientService" />
        <service android:name=".bluetooth.BTHostService" />

    </application>

</manifest>